<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>リバーシであそぼう！</title>
        <link href="main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <h1>みにぶたリバーシ</h1>
            <table>
                <tr v-for="y in size">
                    <td v-for="x in size" @click="onStoneSet(x, y)">
                        <stone :type="getStone(x,y)"></stone>
                    </td>
                </tr>
            </table>
            <br>
            <span>
                <stone :type="currentStoneId"></stone> を置いてね
            </span>
            <br>
            <br>
            <div v-if="message" v-html="message" class="fightMessage"></div>
            <br>
            <br>
            <a href="index.html">最初からあそぶ</a>
        </div>
        <div id="footer">&copy; 2020 Nami.M</div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script></script>
        <script src="main.js"></script>
    </body>
</html>