body,html {
    font-family: 'M PLUS Rounded 1c',sans-serif;
    text-align: center;
    color: #333333;
    background-color: #ffcccc;
}

#app {
    max-width: 640px;
    margin: 0 auto;
  }

h1 {
    color: #660000;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 2px solid #333333;
    background: #fffafa;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}

td img{
    display: inline-block;
    vertical-align: middle;
}

.fightMessage {
    color: red;
    font-size: 25px;
}

a {
    color: rgb(240, 75, 34);
    text-decoration: none;
  }

#footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;

}